/* I tried getting the files for the custom font. unfortunately I had a "decoding" problem in the console when I tried using them. I used the direct url to the file but chrome and firefox blocks it. Safari shows them tho */
@font-face {font-family: 'kypregular';src: url('https://www.kyp.nl/fonts/kyp_def7-webfont.eot');src: url('https://www.kyp.nl/fonts/kyp_def7-webfont.eot?#iefix') format("embedded-opentype"), url('https://www.kyp.nl/fonts/kyp_def7-webfont.woff') format("woff"), url('https://www.kyp.nl/fonts/kyp_def7-webfont.ttf') format("truetype"), url('https://www.kyp.nl/fonts/kyp_def7-webfont.svg#kypregular') format("svg");font-weight: normal;font-style: normal;}

@import 'https://fonts.googleapis.com/css?family=Rubik+One|Rubik:400,700';
@import "settings";
@import "foundation";

/* Those variables should be place in the settings sass file bu to keep it easier I kept them here. */

$late-color:#E56156;
$lateConfirmed-color:#FF961F;
$done-color:#3079b0;
$row-background: #fafafa;
$border-color: #E5E5E5;

/* The menu part should probably be in another file to keep it more maintanable. */

.menu-bar.dark{
	background: $body-font-color;
	li{
		a{
			font-size: 1.5em;
			margin-top:5px;
			border-bottom: $border-color 2px solid;
			&.active{/* I added a manual active state. I coundn't figure out another way to do it */
				background: lighten($border-color, 5%);
				color: $done-color; 
				border: $border-color 2px solid;
				border-bottom: none;
				border-radius:5px 5px 0 0;
			}
		}
	}
}




/* This part should probably be in another file to keep it more maintanable. */

.grid-content .grid-block.row{/*this is a bit over specific but i wanted to overide global styles without changing the global variables */
	align-items: center;
	padding: 1em;
	flex-wrap: nowrap;
	max-width: calc(100% - 1em); /*this is a bit ugly, but I had an horizontal scrolling, it fixed it */
}
.row{
	border-bottom: $border-color 2px solid;
	background: $row-background;
	}
.row-header{
	background: lighten($border-color, 5%);
}
.project-name{
font-family: 'kypregular', 'Rubik One', sans-serif;
	@include grid-size(9);
	text-align: center;	
	font-size: 2.5em;
	flex-shrink: 1;
	color: $done-color;
}
.task-number, .project-tasks{
	min-width: 120px;
	@include grid-size(3);
	text-align: center;
	line-height: 0.8em;
	font-size: 1.5em;
	min-width: 120px;
	min-height: 100px;
	padding-top: 20px;
	border-left: 2px $border-color solid;
	span{
		font-size: 2em;
		line-height: 0.8em;
		font-weight: 700;
		font-family: 'kypregular', 'Rubik', sans-serif;
		color: $done-color;
		
	}
}
.overview-title{
	@include grid-size(6);
	text-align: center;
flex-shrink: 1;
font-size: 3em;
span{
	display: block;
	font-size: 0.4em;
	font-weight: 700;
}
	
}
/* styles for the pie-chart */
.visualisation{
	@include grid-size(3);
	text-align: center;
	position: relative;
	min-width: 120px;
	border-left: 2px $border-color solid;
circle {
  stroke-width: 50;
  stroke-dasharray: 0 158;
  transition: stroke-dasharray .3s ease;
}
svg {
  margin: 0 auto;
  transform: rotate(-90deg);
  border-radius: 50%;
   display: block;
}
.percentage{
	position: absolute;
	top: 50%;
	left: 50%;
	width:90px;
	height:90px;
	background: $body-background;
	border-radius:50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	padding: 20px 0;
	text-align: center;
	margin-top: -45px;
	margin-left: -45px;
	font-size: 2em;
	font-family: 'kypregular', 'Rubik', sans-serif;
	
	 span{
		display: block;
		font-size:0.5em;
		font-family: 'Rubik', sans-serif;
		color: $body-font-color;
	}
}
}
/* Color customisation for each row */
.row-late{
	.task-number  span{
	color: $late-color;
	}
	.percentage {
	color: $late-color;
	}
	circle {
	stroke: $late-color;
	}
	 svg {
	  background: rgba( $late-color, 0.3 );
  	}
  	
  }
.row-lateConfirmed{
	.task-number  span{
	color: $lateConfirmed-color;
	}
	.percentage{
	color: $lateConfirmed-color;
	}
	circle {
	  stroke: $lateConfirmed-color;
	 }
	 svg {
	  background: rgba( $lateConfirmed-color, 0.3 );
  }
 }
 .row-done{
	 .percentage {
	 color: $done-color;
	 }
	  .task-number span{
	 color: $done-color;
	 }
	circle {
	  stroke: $done-color;
	  }
	 svg {
	  background: rgba( $done-color, 0.3 );
  }
 }